.heading{
    font-size:23px;
    width:100%;
    margin:0px;
}
.note{
    font-size:15px;
    color:olivedrab;
}
body{
    background-size: cover;
}
.div_speed{
 float:left;
}
.div_speed_img{
    width: 200px;
    border-radius:100%;   
}
#speed,#volume{
    font-size:23px;
    margin:15px;
}
.div_volume{
    float:right;
   }
   .div_volume_img{
       width: 200px;
       border-radius:100%;   
   }
   .play_button{
       width:130px;
       font-size: 25px;
       font-family: monospace;
       color: orangered;
       background-color: peru;
   }
   canvas{
       border-radius: 50px;
       border:5px double turquoise;
   }